

.main {
    width: 50%;
    margin: 100px auto;
}
/* .main label {
  width: 20px;
}

.main input, .main select {
    width: 50%;
    margin-bottom: 25px;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#result {
  width: 100%;
}